.mediumcard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 260px;
    width: 23%;
    height: max-content;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(142, 124, 78, 0.16);
    border-radius: 8px;
    padding: 8px 8px 20px 8px;
    left: 72px;
    top: -113px;
}


.bigImg {
    width: 100%;
    height: auto;
}

.miniImg {
    display: none;
}

.textWrapper {
    position: relative;
    max-width: 228px;
    width: 100%;
    height: max-content;
    margin-top: 16px;
    
}

.textWrapper p {
    position: relative;
    font-family: 'Euclid Circular B';
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    margin: 0;
    padding-bottom: 5px;

}

.link {
    position: relative;
    height: max-content;
    font-family: 'Euclid Circular B';
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #AB955E;
    text-decoration: none;
}

.link div {
    position: absolute;
    width: 16px;
    height: 2px;
    background: #AB955E;
    bottom: 5px;
    left: 102px;
}


@media screen and (max-width: 1300px) {
    .mediumcard {
        max-width: 560px;
        width: 100%;
        background: transparent;
        box-shadow: none;
        top: 0;
        left: 0;
        margin-top: 90px;
        padding: 0;
    }

    .textWrapper {
        max-width: none;
        max-width: 528px;
        width: 93%;
    }

    .bigImg {
        display: none;
    }
    .miniImg {
        display: block;
        position: relative;
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .mediumcard {
        width: 90%;
    }

}

@media screen and (max-width: 500px) {
    .mediumcard {
        width: 96%;
        top: 9px;
    }
    .textWrapper {
        width: 90%;
        margin-top: 23px;
        left: 1px;
    }

}