.burgerMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 200;
    width: calc(100% - 80px);
    max-width: 1360px;
    height: 768px;
    background-color: #242424;
    align-self: start;
    top: 0; 
}

.show {
    animation: 2s toLeft ease;
    display: flex;
    left: 0;

}


.close {
 animation: 2s toRight ease; 
 left: calc(-100% + 79px);
}


@keyframes toLeft {
    0% {
        left: calc(-100% + 80px);
    }

    100% {
        left: 0%;
    }
}

@keyframes toRight {
    0% {
        left: 0%;
    }


    100% {
        left: calc(-100% + 80px); 
    }
}

.burgerHeader {
    position: relative;
    width: 100%;
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c4c4c423;
}

.langRu {
    display: none;
}

.logoBurger {
    position: relative;
    left: 3.6%;
    bottom: 2px;
}
.nav {
    position: relative;
    font-weight: 400;
    right: 20.6%;
}

.entrance {
    position: relative;
    top: 5px;
    right: 16%;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
}

.burgerMain {
   position: relative;
   max-width: 1360px;
   width: 100%;
   height: 616px;
   display: flex;
   justify-content: space-between;

}

.social {
    max-width: 140px;
    width: 10%;
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
   
}

.socialWrapper {
    position: relative;
    width: min-content;
    height: 208px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    left: 16px;
}

.socialWrapper::before {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 368px;
    background: #d9c287;
    opacity: 0.24;
    bottom: 240px;
}

.socialItem {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #D9C287;
    box-sizing: border-box;
}

.socialMini {
    display: none;
}

.searchBtn {
    display: none;
}

.menuMini {
    display: none;
}

.phone {
    display: none;
}

.category {
   position: relative;
   max-width: 432px;
   width: 32%;
   top: 20px;
}

.submenu {
    position: relative;
    max-width: 325px;
    width: 24%;
}


.slider {
    position: relative;
    max-width: 420px;
    width: 31%;
    height: 616px;
}



.burgerFooter {
    align-self: flex-end;
    max-width: 1220px;
    width: 90%;
    height: 71px;
    display: flex;
    justify-content: end;
    align-items: center;
    border-top: 1px solid #d9c28728;
    margin: 0;
}

.burgerFooter a {
    position: relative;
    font-family: 'Euclid Circular B';
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.64;
    text-decoration: none;
    right: 60px;
    transition: .3s;
}

.burgerFooter a:hover {
    color: #D9C287;
}


@media  screen and (max-width: 1400px) {
    .nav {
        right: 10%;
    }
    .slider {
        display: none;
    }

    .burgerMain {
        justify-content: start;
    }

    .category {
        left: 3%;
    }

    .submenu {
        width: 40%;
        left: 15%;
    }
}

@media screen and (max-width: 1100px) {
    .submenu {
        left: 20%;
    }
}

@media  screen and (max-width: 950px) {
    .burgerMenu {
        width: 100%;
    }
    
    .nav {
        right: 0;
    }

    .category {
        width: 44%;
    }
    .entrance {
        right: 14%;
    }

    .close {
        left: -100%;
       }


    @keyframes toLeft {
        0% {
            left: -100%;
        }   
        100% {
            left: 0%;
        }
    }
    
    @keyframes toRight {
        0% {
            left: 0%;
        } 
        100% {
            left: -100%; 
        }
    }

    .submenu {
        left: 7%;
    }
       
}

@media  screen and (max-width: 670px) { 
    .burgerMenu {
        height: min-content;
        align-items: center;
    }
    .burgerHeader {
        justify-content: start;
        
    }

    .burgerMain {
        flex-direction: column;
        align-items: center;
        height: min-content;
    }
    .entrance {
        display: none;
    }
    .nav {
        display: none;
    }

    .langRu {
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-family: 'Euclid Circular B';
        font-weight: 300;
        font-size: 20px;
        letter-spacing: 0.08em;
        text-transform: uppercase;

    }

    .logoBurger {
        left: calc(50% - 113px);
    }


    .submenu {
        display: none;
    }

    .category {
        width: 92%;
        top: 0;
        left: 0;
    }

    .social {
        display: none;
    }

    .socialMini {
        display: flex;
        height: min-content;
        margin-top: 27px;
    }

    .socialMini .socialWrapper {
        flex-direction: row;
        min-width: 192px;
        width: 50%;
        height: min-content;
        left: 0;
    }

    .socialMini .socialWrapper::before {
        display: none;
    }

    .searchBtn {
        max-width: 328px;
        width: 92%;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #BCA56A;
        border-radius: 8px;
        font-family: 'Euclid Circular B';
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 39px;
    }

    .menuMini {
        width: 85%;
        height: min-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 21px;
        margin-top: 44px;
    }

    .menuMiniItem {
        display: flex;
        column-gap: 32px;
    }

    .menuMiniItem:nth-child(3) {
        position: relative;
        right: 3px;
    }

    .menuMini a {
        display: block;
        width: max-content;
        font-family: 'Euclid Circular B';
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #ffffff;
        text-decoration: none;
    }

    .phone {
        display: block;
        width: max-content;
        font-family: 'Euclid Circular B';;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #ffffff;
        margin-top: 34px;
    }

    .burgerFooter {
        width: 100%;
        display: flex;
        justify-content: center;
        border-top: none;
        margin-top: -5px;
        padding-bottom: 20px;
    }

    .burgerFooter a {
        right: 0;
    }
}