.wrapper {
    display: flex;
    width: min-content;
}

.wrapper span {
    min-width: 208px;
    
}

@media screen and (max-width: 670px) {
    .wrapper {
        flex-direction: column;
    }
    
}