.entrance {
    position: relative;
    z-index: 100;
    min-width: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.entrance span {
    color: #ffffff;
    border-bottom: 1px dashed #ffffff;
}

.entrance svg {
    width: 15px;
    height: 8px;
    fill: #ffffff;
}


