.description {
    position: relative;
    max-width: 260px;
    width: 100%;
    height: min-content;
}


h3 {
    position: relative;
    margin: 0;
    font-family: 'Euclid Circular B';
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #999999;
    bottom: 8px;
}

p {
    position: relative;
    font-family: 'Euclid Circular B';
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: #3D3C3C;
    bottom: 3px;
}