.menu {
    position: relative;
    z-index: 100;
    max-width: 470px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 3px;
}

.menuItem {
    cursor: pointer;
    transition: .5s;
}

.menuItem:hover {
    color: #D9C287;
}

@media  screen and (max-width: 950px) {
   .menu {
       width: 330px;
   }
}